[
    { rabbit, [
       {loopback_users, []},
       {default_vhost,       "/tiler"},
       {default_user,        "guest"},
       {default_pass,        "guest"},
       {default_permissions, [".*", ".*", ".*"]}
    ] },
    { rabbitmq_management, [ { listener, [
        { port, 15672 },
        { ssl, false }
    ] },
        { load_definitions, "/etc/rabbitmq/definitions.json" }
    ] }
].
